.banner {
  color: white;
  object-fit: contain;
  height: 600px;
}
.banner__contents {
  margin-left: 30px;
  padding-top: 140px;
  padding-bottom: 140px;
  height: 190px;
}
.banner__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
  color: white;
}
.banner__description {
  color: white;
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.9rem;
  max-width: 360px;
  height: 80px;
}
.banner__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
  padding-bottom: 0.5rem;
}

.banner__button:hover {
  transition: ease-in-out 450ms;
  color: black;
  background-color: whitesmoke;
}

/*esto hara parecer la imagen con un tono desvanecido*/
.banner__fadeBottom {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111111
  );
}
