.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  height: 30px;
  z-index: 1; /* para que nada este por encima de ella*/
  transition: ease-in-out 0.5s;
}
.nav__black {
  background-color: #111111;
}
.nav__logo {
  position: fixed;
  left: 10px;
  object-fit: contain;
  width: 80px;
}
.nav__avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}
