.row {
  margin-left: 10px;
}
.row__posters {
  display: flex;
}
.title {
  color: whitesmoke;
}
.row__posters {
  width: 100%;
  object-fit: contain; /*esto creara como una especia de responsive*/
  transition: transform 450ms;
  margin-right: 10px;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 8px;
}

/* de esta forma podemos darle estilos a un scrollbar...usando webkit-scrollbar*/
.row__posters::-webkit-scrollbar {
  display: none;
}

/* .row__posters:hover{
    transform: scale(1.01);
}
.row__posterLarge{
    max-height: 250px;
}
.row__posterLarge:hover{
    transform: scale(1.09);
    opacity: 1;
} */
.contImage {
  margin-right: 10px;
  transition: transform 450ms;
}

.contImage:hover {
  transform: scale(1.08);
}
